*,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-logo{
    font-size: 1.8rem;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: calc(100vh - 100px);
}

.form-container{
    width: 800px;
    border: 1px solid rgb(43, 43, 43);
    border-radius: 15px;
    margin: 20px 0 20px 0;
}

.form-container > section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 15px 0 15px;
    margin-top: 20px;
}

input{
    height: 30px;
    text-indent: 5px;
}

textarea{
    padding-left: 5px;
    resize: none;
}

.fullname-form-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flex-input-cont > input {
    width: 50%;
}

.personal-info-form > input {
    width: 100%;
}

.year-form-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option-buttons{
    height: 30px;
    background-color: rgb(43, 43, 43);
    color: white;
    border: 0;
    cursor: pointer;
}

.experience-info-form > .work-add{
    margin-bottom: 20px;
}

.single-work-exp-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-education-info-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-options{
    margin-top: 0 !important;
    margin-bottom: 5px;
}

.save-btn{
    background-color: rgb(120, 194, 120);
}

.form-clear-btn{
    background-color: rgb(194, 120, 120);
}

.cv-view-container{
    display: flex;
    width: 800px;
    height: 1020px;
    border: 1px solid rgb(43, 43, 43);
    margin-top: 20px;
}

.personal-info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 100%;
    background-color: rgb(18, 73, 124);
    color: white;
}

.sidebar-section-title{
    font-size: 1.5rem;
}

.fullname-cv{
    text-align: center;
    padding-top: 10px;
}

.cv-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50px
}

.personal-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
}

.detail-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-title{
    text-decoration: underline;
}

.cv-right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.cv-personal-description{
    width: 90%;
    margin-left: 25px;
    padding: 10px;
    border-bottom: 1px solid rgb(43, 43, 43);
}

.work-experience{
    width: 90%;
    margin-left: 20px;
    min-height: 300px;
    border-bottom: 1px solid rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-work-exp-header{
    display: flex;
    justify-content: space-between;
}

.work-exp-item-title{
    font-size: 1.2rem;
}

.company-and-city{
    font-size: 0.8rem;
}

.education-info{
    width: 90%;
    margin-left: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-education-header{
    display: flex;
    justify-content: space-between;
}

.education-info-item-title{
    font-size: 1rem;
}

.uni-name{
    font-size: 0.8rem;
}



footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: white;
    margin-top: 20px;
}

.footer-link{
    color: orange;
    padding-left: 5px;
}
